button {
    border: none;
}

.menu-item {
    width: 200px;
    height: 63px;
    border-radius: 15px;
}

.isactive.yes {
    background-image: linear-gradient(#A6CE39, #128241);
}

.isactive.no {
    background: none;
}

.isTextActive.yes {
    color: white;
}

.isTextActive.no {
    background : linear-gradient(#A6CE39, #128241);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-active {
    margin-left: 10px;
    font-size: 13pt;

    color: white;
}

.text-active:hover {
    color:white;
}

.text-inactive {
    background : linear-gradient(#A6CE39, #128241);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-inactive:hover {
    background : linear-gradient(#A6CE39, #128241);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-toggler-icon {
    color: white;
}