.dsbrd{
  border: solid 1px #111010; 
        background: #ffffff; 
        padding: 15px; 
        -moz-border-radius: 15px; 
        -khtml-border-radius: 15px; 
        -webkit-border-radius: 15px; 
        border-radius: 15px; 
        margin: 0; 
        text-align: left; 
        line-height: 23px; 
        color: black; 
        font-size: 18px;
}

#content-area {
  transition: 0.4s;
  margin-left: 2rem;
  margin-right: 2rem;
}

.content-active{
  padding-left: 18%;
}

.Statistik{
  border: solid 1px #111010; 
          background: #ffffff; 
          padding: 15px; 
          -moz-border-radius: 15px; 
          -khtml-border-radius: 15px; 
          -webkit-border-radius: 15px; 
          border-radius: 15px; 
          margin: 0; 
          text-align: left; 
          line-height: 23px; 
          color: black; 
          font-size: 18px;
}
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .sidebar {
    max-width: 20%;
    height: 120%;
    margin-left: -300px;
    transition: 0.4s;
    position: absolute;
    z-index: 1021;
    overflow-x:visible;

    white-space: nowrap;
  }


  .active-main-content {
    margin-left: 200px;
  }

  .active-sidebar {
    margin-left: 0;
  }

  #main-content {
    transition: 0.4s;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .grid-item {
    background-color: #f2f2f2;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
      }
  
  


.border{
border: 2px solid black;
padding: 10px;
border-radius: 10px;  
}

.corner-text{
  color: white;
}
.navbar{

  min-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  background: #A6D17A;
  height: 10%;

  padding-left: 2rem;
  padding-right: 2rem;

}
.btn{
  position: absolute;
  z-index:4;
}
.tambah{
  border: 10%
}
  
label {
    float: left;
    width: 200px;
    padding-right: 24px;
}
input {
    float: left;
    width: calc(100% - 200px);
}

.Kelolaarsip{
border: solid 1px #111010; 
background: #ffffff; 
padding: 15px; 
-moz-border-radius: 15px; 
-khtml-border-radius: 15px; 
-webkit-border-radius: 15px; 
border-radius: 15px; 
margin: 0; 
text-align: right; 
line-height: 23px; 
color: black; 
font-size: 18px;}

.tambah{
  border: solid 1px #111010; 
  background: #ffffff; 
  padding: 15px; 
  -moz-border-radius: 15px; 
  -khtml-border-radius: 15px; 
  -webkit-border-radius: 15px; 
  border-radius: 15px; 
  margin: 0; 
  text-align: left; 
  line-height: 23px; 
  color: black; 
  font-size: 18px;
}

  .datapetugas{
    border: solid 1px #111010; 
    background: #ffffff; 
    padding: 15px; 
    -moz-border-radius: 15px; 
    -khtml-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    border-radius: 15px; 
    margin: 0; 
    text-align: left; 
    line-height: 23px; 
    color: black; 
    font-size: 18px;
  }

    .search-box {
      margin-bottom: 15px;
      float: right;
      background-color: rgb(255, 255, 255);
      padding: 5px;
      border-radius: 15px; 
    }
    
    .search-input {
      font-size: 20px;
      float: right;
      border: none;
      width: 40vh;
      background-color: #F0E5E5;
      padding: 5px;
      color: black;
      border-radius: 15px; 
    }
    .data{
      border: solid 1px #111010; 
      background: #ffffff; 
      padding: 15px; 
      -moz-border-radius: 15px; 
      -khtml-border-radius: 15px; 
      -webkit-border-radius: 15px; 
      border-radius: 15px; 
      margin: 0; 
      text-align: left; 
      line-height: 23px; 
      color: black; 
      font-size: 18px;
    }

      .datauser{
        border: solid 1px #111010; 
        background: #ffffff; 
        padding: 15px; 
        -moz-border-radius: 15px; 
        -khtml-border-radius: 15px; 
        -webkit-border-radius: 15px; 
        border-radius: 15px; 
        margin: 0; 
        text-align: left; 
        line-height: 23px; 
        color: black; 
        font-size: 18px;
      }
      
      .edit-btn {
        color: white;
        border: none;
        cursor: pointer;
      }
      .delete-btn {
        color: white;
        border: none;
        cursor: pointer;
      }
    
      .pagination {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
      }
      
      .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #ddd;
      }
      
      .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
      }
      
      .pagination a:hover:not(.active) {background-color: #ddd;}
      
      .pagination a:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      
      .pagination a:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      
      .folder{ 
        background: #ffffff; 
        padding: 15px; 
        -moz-border-radius: 15px; 
        -khtml-border-radius: 15px; 
        -webkit-border-radius: 15px; 
        border-radius: 10px; 
        margin: 0; 
        text-align: left; 
        line-height: 23px; 
        color: black; 
        font-size: 18px;
        margin-bottom: 20px;
      }

        .Folder{
          border: solid 1px #111010; 
          background: #ffffff; 
          padding: 15px; 
          -moz-border-radius: 15px; 
          -khtml-border-radius: 15px; 
          -webkit-border-radius: 15px; 
          border-radius: 15px; 
          margin: 0; 
          text-align: left; 
          line-height: 23px; 
          color: black; 
          font-size: 18px;
        }

          footer {
            position: fixed;
            left: 0;
            bottom: -5%;
            width: 100%;
            height: 100px; 
            padding: 20px 0;
            object-fit: cover;
          }
          
          .footer-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
          }
          
          .footer-image img {
            width: 100%;
            height: auto;
          }
          .text-center {
            text-align: center; 
          }

          .lihat{
            border: solid 1px #111010; 
            background: #ffffff; 
            padding: 15px; 
            -moz-border-radius: 15px; 
            -khtml-border-radius: 15px; 
            -webkit-border-radius: 15px; 
            border-radius: 15px; 
            margin: 0; 
            text-align: left; 
            line-height: 23px; 
            color: black; 
            font-size: 18px;}
    
            .Lihat{
              border: solid 1px #111010; 
              background: #ffffff; 
              padding: 15px; 
              -moz-border-radius: 15px; 
              -khtml-border-radius: 15px; 
              -webkit-border-radius: 15px; 
              border-radius: 15px; 
              margin: 0; 
              text-align: left; 
              line-height: 23px; 
              color: black; 
              font-size: 18px;
              position: relative;
            }
            .tabellihat{
              position: absolute;
            }

              .unduh-btn {
                background-color: blue;
                color: white;
                padding: 8px 16px;
                border: none;
                cursor: pointer;
                border-radius: 15px;
              }
              .lihat-btn {
                background-color: #4CAF50;
                color: white;
                border: none;
                cursor: pointer;

                width: 30px;
                height: 30px;
                border-radius: 10px;
              }

              .ubah-btn {
                background-color: rgb(47, 0, 255);
                color: white;
                padding: 8px 16px;
                border: none;
                cursor: pointer;
                border-radius: 15px;
              }
              .hapus-btn {
                background-color: #FBA919;
                color: white;
                border: none;
                cursor: pointer;

                width: 30px;
                height: 30px;
                border-radius: 10px;
              }

                .plus-btn {
                  float: right;
                  font-size: 15px;
                  background-color: rgb(2, 33, 206);
                  color: white;
                  padding: 8px 16px;
                  border: none;
                  cursor: pointer;
                  border-radius: 15px;}
                .update-btn {
                  position: absolute;
                  margin-top: 20px;
                  margin-right: 50px;
                  background-color: rgb(47, 0, 255);
                  color: white;
                  padding: 8px 16px;
                  border: none;
                  cursor: pointer;
                  border-radius: 15px;}

              .profil{
                border: solid 1px #111010; 
                background: #ffffff; 
                padding: 15px; 
                -moz-border-radius: 15px; 
                -khtml-border-radius: 15px; 
                -webkit-border-radius: 15px; 
                border-radius: 15px; 
                margin: 0; 
                text-align: left; 
                line-height: 23px; 
                color: black; 
                font-size: 18px;
              } 
                
                .profile-container {
                  display: flex;
                  align-items: flex-start;
                }
                
                .profile-image {
                  margin-right: 20px;
                }
                
                .profile-form {
                  flex-grow: 1;
                }
                
                .profile-form h3 {
                  margin-top: 0;
                }
                
                .profile-form form {
                  width: 100%;
                }
                .form-actions {
                  position: absolute;
                  bottom: 0;
                  right: 0;
                }
body{
  background: #F0E5E5;
}

table {
  font-size: 13.5px;
}
thead {
  background-color: #A6D17A;
}

tbody{
  background-color: #e1fcc5;
}

.col-sm-12.col-md-6 > .dataTables_filter {
  display: flex;
  justify-content: flex-end;
}

.buttons-colvis {
  background-color: #A6D17A;
  border-color: transparent;
}

.buttons-colvis:hover {
  background-color: #8bb362;
  border-color: transparent;
}

.dropdown-item.active {
  background-color: #A6D17A;
}

.dropdown-item:active {
  background-color: #8bb362;
}

.page-item.active .page-link {
  background-color: #A6D17A;
  border-color: transparent;
}

.page-item.active:hover .page-link:hover {
  background-color: #8bb362;
  border-color: transparent;
}